.App{
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .title{
    text-align: center;
  }
  
  .updated-at{
    text-align: right;
  }

  .hero-img{
    opacity: 0.5;
    object-fit: contain;
  }